Repository boostcampwm2023/and08-meetmeet, pull requests merged in 2023-12, with the labels that each got.

#164 Feature/android/#30 feed detail: 피드 상세 서버 데이터 불러오기, 화면 업데이트
  android/app/src/main/java/com/teameetmeet/meetmeet/data/datasource/LocalCalendarDataSource.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/local/database/dao/EventDao.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/model/Author.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/model/Comment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/model/Content.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/model/FeedDetail.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/EventStoryApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/AddFeedCommentRequest.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/CalendarRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/EventStoryRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/createfeed/CreateFeedFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/createfeed/CreateFeedViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/OnFeedItemClickListener.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/adapter/EventFeedListAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/feeddetail/FeedCommentsAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/feeddetail/FeedContentsAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/feeddetail/FeedDetailBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/feeddetail/FeedDetailFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/feeddetail/FeedDetailUiState.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/feeddetail/FeedDetailViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/model/MediaItem.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/searchevent/searchevent/SearchEventFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/searchevent/searchevent/SearchEventViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/UriExtension.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/date/LongExtension.kt
  android/app/src/main/res/layout/fragment_feed_detail.xml
  android/app/src/main/res/layout/item_feed_comment.xml
  android/app/src/main/res/layout/item_feed_content.xml
  android/app/src/main/res/navigation/nav_graph_event_story.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, Refactor, UI/UX

#162 Feature/backend/#16 event story: 일정 공지 등록, 삭제 API
  backend/src/content/content.service.ts
  backend/src/event/entities/event.entity.ts
  backend/src/event/event.controller.ts
  backend/src/event/event.service.ts
Labels: Backend, Feat

#163 Feature/android/#35 join event : 일정 참여, 일정 멤버 자세히 보기, 알림 화면 구현
  android/app/src/main/java/com/teameetmeet/meetmeet/data/ExceptionHandler.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/model/EventMember.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/model/UserWithFollowStatus.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/EventStoryApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FollowApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/UserApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/di/NetworkModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/FollowRequest.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/EventStoryRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/FollowRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/UserRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/di/RepositoryModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/eventmember/EventMemberAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/eventmember/EventMemberClickListener.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/eventmember/EventMemberFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/eventmember/EventMemberViewHolder.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/eventmember/EventMemberViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstorydetail/EventStoryDetailViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/NotificationActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/NotificationAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/event/EventNotificationAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/event/EventNotificationFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/event/EventNotificationViewHolder.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/event/EventNotificationViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/follow/FollowNotificationAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/follow/FollowNotificationFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/follow/FollowNotificationViewHolder.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/follow/FollowNotificationViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/group/GroupNotificationAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/group/GroupNotificationFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/group/GroupNotificationViewHolder.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/group/GroupNotificationViewModel.kt
  android/app/src/main/res/layout/activity_notification.xml
  android/app/src/main/res/layout/fragment_event_member.xml
  android/app/src/main/res/layout/fragment_event_story_detail.xml
  android/app/src/main/res/layout/fragment_notification.xml
  android/app/src/main/res/layout/item_event_join_member.xml
  android/app/src/main/res/layout/item_event_notification.xml
  android/app/src/main/res/layout/item_follow_notification.xml
  android/app/src/main/res/layout/item_group_notification.xml
  android/app/src/main/res/navigation/nav_graph_event_story.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, UI/UX

#165 Feature/android/#28 #55: 일정 추가 response 처리 및 알림 설정, 프로필 설정 API 분리
  android/app/src/main/java/com/teameetmeet/meetmeet/data/datasource/RemoteCalendarDataSource.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/CalendarApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/UserApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/EventResponse.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/NicknameChangeRequest.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/CalendarRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/UserRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/addevent/AddEventViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/profile/SettingProfileFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/profile/SettingProfileUiState.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/profile/SettingProfileViewModel.kt
  android/app/src/main/res/layout/activity_add_event.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, Bug

#170 Feature/android/#39 visit calendar
  android/app/build.gradle.kts
  android/app/src/main/java/com/teameetmeet/meetmeet/data/local/database/di/DatabaseModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/model/EventMember.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/model/FeedDetail.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/base/BaseActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/bottomsheet/EventsPerDayBottomSheetFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/monthcalendar/CalendarEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/monthcalendar/CalendarItemClickListener.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/monthcalendar/EventBarAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/monthcalendar/MonthCalendarAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/monthcalendar/MonthCalendarFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/monthcalendar/MonthCalendarViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/feeddetail/FeedCommentsAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/feeddetail/FeedContentsAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/feeddetail/FeedDetailFragment.kt
  android/app/src/main/res/drawable/background_paging_tv.xml
  android/app/src/main/res/layout/fragment_calendar.xml
  android/app/src/main/res/layout/fragment_calendar_month.xml
  android/app/src/main/res/layout/fragment_events_per_day_bottom_sheet.xml
  android/app/src/main/res/layout/fragment_feed_detail.xml
  android/app/src/main/res/layout/item_feed_content.xml
  android/app/src/main/res/navigation/nav_graph_calendar.xml
  android/app/src/main/res/navigation/nav_graph_home.xml
Labels: Android, Refactor, Enhancement

#172 Feature/android/#17 follow noti #23 event invitation noti
  android/app/.gitignore
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teameetmeet/meetmeet/MeetMeetApp.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/AuthApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/LoginApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/UserApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/TokenRequest.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/TokenRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/UserRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/home/HomeActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/home/HomeViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/NotificationActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/splash/SplashActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/RequestCode.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/alarm/AlarmReceiver.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/messaging/MeetMeetFirebaseMessagingService.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/messaging/model/EventInvitationMessage.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/notification/NotificationHelper.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/BitmapConverter.kt
  android/app/src/main/res/layout/item_event_notification.xml
  android/app/src/main/res/layout/item_group_notification.xml
  android/app/src/main/res/values/strings.xml
  android/build.gradle.kts
Labels: Android, Feat, Refactor

#173 feat: exception filter 추가, custom error, api 오류 수정
  backend/docker-compose.yml
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/exception/auth.exception.ts
  backend/src/auth/jwt-auth.guard.ts
  backend/src/auth/jwt.strategy.ts
  backend/src/auth/local.strategy.ts
  backend/src/comment/comment.service.ts
  backend/src/comment/entities/comment-response.dto.ts
  backend/src/common/exception/exception.filter.ts
  backend/src/content/content.service.ts
  backend/src/content/exception/content.exception.ts
  backend/src/detail/entities/detail.entity.ts
  backend/src/event/dto/event-response.dto.ts
  backend/src/event/dto/event-story-response.dto.ts
  backend/src/event/dto/events-response.dto.ts
  backend/src/event/event.service.ts
  backend/src/event/exception/event.exception.ts
  backend/src/feed/dto/feed-response.dto.ts
  backend/src/feed/exception/feed.exception.ts
  backend/src/feed/feed.module.ts
  backend/src/feed/feed.service.ts
  backend/src/follow/follow.service.ts
  backend/src/main.ts
  backend/src/user/dto/user-response.ts
  backend/src/user/exception/user.exception.ts
  backend/src/user/user.service.ts
Labels: Backend, Feat, Bug

#176 Feature/android/#16 edit announcement : 일정 공지 수정/ 삭제
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/EventStoryApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/AnnouncementRequest.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/EventStoryRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/OnNotiChangeListener.kt
  android/app/src/main/res/layout/fragment_event_story.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, UI/UX

#178 Feature/android/#26 alarm change in event story
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstorydetail/EventStoryDetailViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/alarm/AlarmHelper.kt
Labels: Android, Feat, Refactor

#180 [Feature/backend/#23 fcm] fcm을 통한 알림 구현 및 알림데이터 구현
  backend/src/event/dto/search-response.dto.ts
  backend/src/event/event.controller.ts
  backend/src/event/event.module.ts
  backend/src/event/event.service.ts
  backend/src/event/exception/event.exception.ts
  backend/src/follow/follow.service.ts
  backend/src/invite/entities/invite.entity.ts
  backend/src/invite/entities/status.entity.ts
  backend/src/invite/entities/status.enum.ts
  backend/src/invite/invite.module.ts
  backend/src/invite/invite.service.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.ts
Labels: Backend, Feat, Enhancement

#182 [bug: 알람 버그 수정] 참여되지 않는 버그 수정
  backend/src/invite/invite.service.ts
Labels: !HOTFIX

#188 hotfix: 뒤로가기 아이콘 추가(#37)
  android/app/src/main/res/drawable/ic_back_white.xml
Labels: Android, !HOTFIX

#189 !HOTFIX: 타인 일정 조회 프로필 안 보이는 문제 해결(#39)
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/visitcalendar/VisitCalendarActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/visitcalendar/VisitCalendarViewModel.kt
Labels: Android, !HOTFIX

#190 !HOTFIX: 일정 초대 검색 시 isFollowed nullable 타입 변경
  android/app/src/main/java/com/teameetmeet/meetmeet/data/model/UserStatus.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/eventmember/EventMemberViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowViewHolder.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/visitcalendar/VisitCalendarViewModel.kt
Labels: Android, !HOTFIX

#185 Feature/backend/#28 create event: createEvent insert 성능 개선
  backend/src/detail/detail.service.ts
  backend/src/event-member/event-member.service.ts
  backend/src/event/dto/event-story-response.dto.ts
  backend/src/event/entities/repeatPolicy.entity.ts
  backend/src/event/event.service.ts
  backend/src/event/exception/event.exception.ts
  backend/src/follow/exception/follow.exception.ts
  backend/src/follow/follow.service.ts
Labels: Backend, Enhancement

#191 Refactor/android/week5 day03 : 리뷰 사항 모두 반영
  android/app/build.gradle.kts
  android/app/src/main/java/com/teameetmeet/meetmeet/data/local/datastore/DataStoreHelper.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/model/Content.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/model/EventMember.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/EventStoryApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/EventStoryRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/bindingadapter/ImageBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/feeddetail/feedcontent/FeedContentViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/splash/SplashViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/downloading/ImageDownloadHelper.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/downloading/ImageDownloadWorker.kt
Labels: Android, Feat, Refactor

#193 Refactor/android/search user: 유저 검색 UI 개선 및 코드 리뷰 반영
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/EventInviteAcceptRequest.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/EventStoryRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/UserRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowViewHolder.kt
  android/app/src/main/res/layout/fragment_follow.xml
Labels: Android, Refactor

#192 Feature/backend/#42 update event: eventId로 피드 삭제 함수 구현 및 feed API 관련 오류 수정
  backend/src/comment/comment.service.ts
  backend/src/content/content.service.ts
  backend/src/feed/entities/feed.entity.ts
  backend/src/feed/feed.service.ts
Labels: Backend, Feat, Bug

#196 [Feature/backend/logger] logger 추가, swagger 보안 추가, 삭제로직 업데이트
  backend/.format.env
  backend/docker-compose.yml
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/common/log/logger.middleware.ts
  backend/src/common/log/winston.daily.ts
  backend/src/common/log/winston.logger.ts
  backend/src/common/slack.interceptor.ts
  backend/src/common/swagger.ts
  backend/src/event-member/event-member.service.ts
  backend/src/event/entities/event.entity.ts
  backend/src/event/event.module.ts
  backend/src/event/event.service.ts
  backend/src/feed/feed.module.ts
  backend/src/main.ts
  backend/src/user/user.service.ts
Labels: Backend, Bug, Enhancement

#198 [HOTFIX: feed null check]
  .github/workflows/cd.yml
  backend/src/common/swagger.ts
  backend/src/feed/feed.service.ts
Labels: !HOTFIX

#201 [HOTFIX: isJoinable=false시 참여불가능하게 처리]
  backend/src/common/log/winston.logger.ts
  backend/src/event/event.service.ts
  backend/src/event/exception/event.exception.ts
Labels: !HOTFIX

#195 hotfix: db 버전 올림
  android/app/src/main/java/com/teameetmeet/meetmeet/data/local/database/AppDatabase.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/local/database/di/DatabaseModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/model/EventStory.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/EventStoryRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/createfeed/CreateFeedViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/feeddetail/FeedDetailFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/feeddetail/FeedDetailViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/model/MediaItem.kt
  android/app/src/main/res/layout/fragment_feed_detail.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Bug

#203 v0.1.0
  android/app/build.gradle.kts
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarFragment.kt
Labels: Android

#204 HOTFIX: 삭제되지 않는 예외처리
  backend/src/event/event.service.ts
Labels: !HOTFIX

#206 HOTFIX: 프로필 사진이 없을 때 변경 오류 수정 (#55)
  backend/src/user/user.service.ts
Labels: Backend, !HOTFIX

#208 HOTFIX: 프로필 설정 완료 버튼 enable state 수정
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/profile/SettingProfileBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/profile/SettingProfileViewModel.kt
Labels: Android, !HOTFIX

#212 v0.1.1
  android/app/build.gradle.kts
Labels: Android

#213 bug: date time picker 타임 존 반영
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstorydetail/EventStoryDetailFragment.kt
Labels: Android, Bug

#216 [Feature/backend/#26 noti] 참여중으로 나타나는 버그 수정 및 알림삭제 기능 추가
  backend/src/event/event.service.ts
  backend/src/invite/exception/invite.exception.ts
  backend/src/invite/invite.service.ts
  backend/src/user/exception/user.exception.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
Labels: Backend, Feat, Bug, Enhancement

#215 Refactor/android/week5 day04 : 토의 부분 리팩토링 및 자잘한 기능 추가
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/UserApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/UserRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/eventmember/EventMemberClickListener.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/eventmember/EventMemberEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/eventmember/EventMemberFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/eventmember/EventMemberViewHolder.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/eventmember/EventMemberViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstorydetail/EventStoryDetailViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/feeddetail/feedcontent/FeedContentFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/feeddetail/feedcontent/FeedContentViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/profile/ProfileImageFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/profile/ProfileImageViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/home/SettingHomeEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/home/SettingHomeFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/home/SettingHomeViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/visitcalendar/VisitCalendarActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/visitcalendar/VisitCalendarEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/visitcalendar/VisitCalendarViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/downloading/ImageDownloadHelper.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/downloading/ImageDownloadWorker.kt
  android/app/src/main/res/layout/activity_visit_calendar.xml
  android/app/src/main/res/layout/fragment_profile_image.xml
  android/app/src/main/res/navigation/nav_graph_calendar.xml
  android/app/src/main/res/navigation/nav_graph_event_story.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, Refactor

#218 [Feature/backend/#26 noti] HOTFIX
  backend/src/event/event.service.ts
  backend/src/invite/invite.service.ts
Labels: !HOTFIX

#221 [HOTFIX: 일정 초대관련 유저 isJoin 버그 수정]
  backend/src/event/event.service.ts
Labels: !HOTFIX

#220 Refactor/android/week5 day04 : 일정 수정 문제 해결
  android/app/src/main/res/layout/fragment_event_story.xml
  android/app/src/main/res/layout/fragment_event_story_detail.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, Bug

#223 Feature/android/#17 notification UI: 알림 개수 표시 및 알림 삭제 기능 추가
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/UserApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/UserRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/EventNotificationViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/FollowNotificationViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/GroupNotificationViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/NotificationActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/SwipeHelperCallback.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/event/EventNotificationAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/event/EventNotificationFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/event/EventNotificationItemClickListener.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/event/EventNotificationViewHolder.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/follow/FollowNotificationAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/follow/FollowNotificationFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/follow/FollowNotificationItemClickListener.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/follow/FollowNotificationViewHolder.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/group/GroupNotificationAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/group/GroupNotificationFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/group/GroupNotificationViewHolder.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/profile/SettingProfileViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/alarm/AlarmReceiver.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/messaging/MeetMeetFirebaseMessagingService.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/notification/NotificationHelper.kt
  android/app/src/main/res/layout/activity_add_event.xml
  android/app/src/main/res/layout/activity_notification.xml
  android/app/src/main/res/layout/fragment_calendar.xml
  android/app/src/main/res/layout/fragment_create_feed.xml
  android/app/src/main/res/layout/fragment_event_notification.xml
  android/app/src/main/res/layout/fragment_event_story_detail.xml
  android/app/src/main/res/layout/fragment_follow_notification.xml
  android/app/src/main/res/layout/fragment_group_notification.xml
  android/app/src/main/res/layout/item_event_notification.xml
  android/app/src/main/res/layout/item_follow_notification.xml
  android/app/src/main/res/layout/item_group_notification.xml
  android/app/src/main/res/menu/menu_top_app_bar_add_event.xml
  android/app/src/main/res/menu/menu_top_app_bar_notification.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, UI/UX

#225 v0.1.3
  android/app/build.gradle.kts
Labels: Android

#227 Refactor/android/exception catch: Exception 분기 처리 및 가로모드 대응 추가
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/CalendarRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/EventStoryRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/FollowRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/LoginRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/UserRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/addevent/AddEventActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/addevent/AddEventUiEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/addevent/AddEventViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/base/BaseActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/base/BaseFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstorydetail/EventStoryDetailFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowUiEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/selflogin/SelfLoginEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/selflogin/SelfLoginFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/selflogin/SelfLoginUiEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/selflogin/SelfLoginViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/signup/SignUpEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/signup/SignUpFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/signup/SignUpUiEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/signup/SignUpViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/EventNotificationViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/FollowNotificationViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/NotificationAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/event/EventNotificationFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/event/EventNotificationUiEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/follow/FollowNotificationFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/follow/FollowNotificationUiEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/account/SettingAccountUiEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/account/SettingAccountViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/home/SettingHomeEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/home/SettingHomeFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/home/SettingHomeUiEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/home/SettingHomeViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/passwordchange/SettingPasswordChangeFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/passwordchange/SettingPasswordChangeUiEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/passwordchange/SettingPasswordChangeViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/profile/SettingProfileFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/profile/SettingProfileUiEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/profile/SettingProfileViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/splash/SplashActivity.kt
  android/app/src/main/res/layout/fragment_follow.xml
  android/app/src/main/res/layout/fragment_self_login.xml
  android/app/src/main/res/layout/fragment_setting_account.xml
  android/app/src/main/res/layout/fragment_setting_home.xml
  android/app/src/main/res/layout/fragment_setting_password_change.xml
  android/app/src/main/res/layout/fragment_setting_profile.xml
  android/app/src/main/res/layout/fragment_sign_up.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, Refactor

#228 enhancement: 더블 클릭 방지 throttle first 구현
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/profile/SettingProfileFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/util/ClickEventUtil.kt
Labels: Android, Enhancement

#229 Enhancement: 시스템 앱 알림 화면 전환 외
  android/app/src/main/java/com/teameetmeet/meetmeet/data/datasource/LocalCalendarDataSource.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/datasource/RemoteCalendarDataSource.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/local/database/dao/EventDao.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/local/datastore/DataStoreHelper.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/LoginApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/CalendarRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/EventStoryRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/SettingRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/TokenRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/UserRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/di/RepositoryModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/bottomsheet/EventsPerDayAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/bottomsheet/EventsPerDayViewHolder.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/monthcalendar/EventBarAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/monthcalendar/EventBarViewHolder.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/monthcalendar/MonthCalendarAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/monthcalendar/MonthCalendarViewHolder.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/monthcalendar/vm/MonthCalendarViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/monthcalendar/vm/OwnerMonthCalendarViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/createfeed/MediaAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/createfeed/MediaViewHolder.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/OnItemClickListener.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/feeddetail/FeedCommentAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/feeddetail/FeedCommentViewHolder.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/feeddetail/FeedCommentsAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/feeddetail/FeedDetailBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/feeddetail/FeedDetailFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/feeddetail/feedcontent/FeedContentFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/feeddetail/feedcontentmedia/FeedContentAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/feeddetail/feedcontentmedia/FeedContentImageFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/feeddetail/feedcontentmedia/FeedContentVideoFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/home/HomeViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/alarm/SettingAlarmFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/alarm/SettingAlarmViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/home/SettingHomeFragment.kt
  android/app/src/main/res/layout/fragment_setting_alarm.xml
  android/app/src/main/res/navigation/nav_graph_setting.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Enhancement

#230 Refactor/android/double click: 다중 클릭 방지 개선 및 UI, Notification 개선
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/EventStoryRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/FollowRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/addevent/AddEventActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowSearchFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowViewHolder.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/EventNotificationViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/FollowNotificationViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/NotificationActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/event/EventNotificationAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/event/EventNotificationViewHolder.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/follow/FollowNotificationAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/follow/FollowNotificationViewHolder.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/account/SettingAccountFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/home/SettingHomeFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/util/ClickEventUtil.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/alarm/AlarmHelper.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/alarm/AlarmReceiver.kt
Labels: Android, Bug, Refactor

#232 v0.2.0
  android/app/build.gradle.kts
Labels: Android

#237 docs: update README.md
  README.md
Labels: Android, Backend

#238 docs: update README.md
  README.md
Labels: Android, Backend

#240 Refactor/android/double click: doOnAttach binding 오류 수정 외 개선
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/addevent/AddEventActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/addevent/AddEventViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowViewHolder.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/EventNotificationViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/FollowNotificationViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/GroupNotificationViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/event/EventNotificationItemClickListener.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/event/EventNotificationViewHolder.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/follow/FollowNotificationItemClickListener.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/follow/FollowNotificationViewHolder.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/profile/SettingProfileViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/notification/NotificationHelper.kt
  android/app/src/main/res/layout/fragment_follow.xml
  android/app/src/main/res/layout/fragment_setting_profile.xml
Labels: Android, Feat, Bug, Refactor
