Repository boostcampwm2023/and08-meetmeet, pull requests merged in 2023-11, with the labels that each got.

#62 dev : monorepo, nest 구성
  .gitignore
  backend/.eslintrc.js
  backend/.prettierrc
  backend/README.md
  backend/nest-cli.json
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/main.ts
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/tsconfig.build.json
  backend/tsconfig.json
Labels: Backend, Feat

#64 dev: 프로젝트 초기 설정
  android/app/build.gradle.kts
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/MainActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/base/BaseActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/base/BaseFragment.kt
  android/app/src/main/res/layout/activity_main.xml
  android/build.gradle.kts
Labels: Android, Feat

#66 ui/ux: 폰트 스타일 적용
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/base/BaseActivity.kt
  android/app/src/main/res/values/styles.xml
Labels: Android, UI/UX

#67 feature/backend/#28-create-event: 일정 생성 api 구현
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/calendar/calendar.controller.spec.ts
  backend/src/calendar/calendar.controller.ts
  backend/src/calendar/calendar.module.ts
  backend/src/calendar/calendar.service.spec.ts
  backend/src/calendar/calendar.service.ts
  backend/src/calendar/dto/create-event.dto.ts
  backend/src/calendar/event.entity.ts
  backend/src/main.ts
Labels: Backend, Feat

#68 feat: 캘린더 월별 보기
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/base/BaseFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarDataBinding.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarTestActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/OnCalendarItemClickListener.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/model/CalendarItem.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/LocalDateExtension.kt
  android/app/src/main/res/drawable/ic_nav_next.xml
  android/app/src/main/res/drawable/ic_nav_pre.xml
  android/app/src/main/res/layout/activity_calendar_test.xml
  android/app/src/main/res/layout/fragment_calendar.xml
  android/app/src/main/res/layout/item_calendar.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat

#69 feature/android/#15-get-events: data layer 전반적인 구조 작성
  android/app/src/main/java/com/teameetmeet/meetmeet/data/DateExtensions.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/MapperExtentions.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/database/AppDataBase.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/database/dao/EventDao.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/database/entity/Event.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/datasource/LocalCalendarDataSource.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/datasource/RemoteCalendarDataSource.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/dto/EventDto.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/ServerApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/EventResponse.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/UserResponse.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/CalendarRepository.kt
Labels: Android, Feat

#70 Feature/android/#28 add event: 일정 추가 UI 및 폼 작성
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teameetmeet/meetmeet/data/model/Event.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/addevent/AddEventActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/addevent/AddEventViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/base/BaseFragment.kt
  android/app/src/main/res/drawable/ic_arrow_back.xml
  android/app/src/main/res/drawable/ic_plus.xml
  android/app/src/main/res/drawable/radio_button_event_color.xml
  android/app/src/main/res/layout/activity_add_event.xml
  android/app/src/main/res/layout/item_text_field.xml
  android/app/src/main/res/menu/top_app_bar_add_event.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/calendar/calendar.controller.spec.ts
  backend/src/calendar/calendar.controller.ts
  backend/src/calendar/calendar.module.ts
  backend/src/calendar/calendar.service.spec.ts
  backend/src/calendar/calendar.service.ts
  backend/src/calendar/dto/create-event.dto.ts
  backend/src/calendar/event.entity.ts
  backend/src/main.ts
Labels: Android, Feat

#71 Feature/android/#38 show login page
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/LoginActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/entrance/EntranceFragment.kt
  android/app/src/main/res/drawable/button_kakao_login.png
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/layout/fragment_entrance.xml
  android/app/src/main/res/navigation/login_nav_graph.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, UI/UX

#72 Feature/android/#51 home navigation: HomeActivity Navigation 연결
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/MainActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/addevent/AddEventActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarTestActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/group/GroupFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/home/HomeActivity.kt
  android/app/src/main/res/drawable/ic_arrow_back.xml
  android/app/src/main/res/drawable/ic_calendar.xml
  android/app/src/main/res/drawable/ic_follow.xml
  android/app/src/main/res/drawable/ic_group.xml
  android/app/src/main/res/layout/activity_add_event.xml
  android/app/src/main/res/layout/activity_calendar_test.xml
  android/app/src/main/res/layout/activity_home.xml
  android/app/src/main/res/layout/fragment_calendar.xml
  android/app/src/main/res/layout/fragment_follow.xml
  android/app/src/main/res/layout/fragment_group.xml
  android/app/src/main/res/menu/menu_bottom_nav_home.xml
  android/app/src/main/res/menu/top_app_bar_add_event.xml
  android/app/src/main/res/navigation/nav_graph_home.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat

#73 Feature/backend/#28 create event: 날아간 파일들 복구
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/calendar/calendar.controller.spec.ts
  backend/src/calendar/calendar.controller.ts
  backend/src/calendar/calendar.module.ts
  backend/src/calendar/calendar.service.spec.ts
  backend/src/calendar/calendar.service.ts
  backend/src/calendar/dto/create-event.dto.ts
  backend/src/calendar/event.entity.ts
  backend/src/main.ts
  backend/tsconfig.json
Labels: Backend

#74 Feature/android/#28 add event: 일정 색 변경, UI 날짜, 시간 표시
  android/app/src/main/java/com/teameetmeet/meetmeet/data/model/Event.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/addevent/AddEventActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/addevent/AddEventBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/addevent/AddEventViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/model/EventColor.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/model/EventNotification.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/model/EventRepeatTerm.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/model/EventTime.kt
  android/app/src/main/res/layout/activity_add_event.xml
Labels: Android, Feat, Enhancement, UI/UX

#75 Feature/android/#43 kakao login
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teameetmeet/meetmeet/MeetMeetApp.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/di/RepositoryModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FakeLoginApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/LoginApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/di/NetworkModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/KakaoLoginRequest.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/LoginRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/LoginActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/entrance/EntranceFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/entrance/EntranceViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/entrance/KakaoLoginEvent.kt
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/navigation/login_nav_graph.xml
  android/app/src/main/res/navigation/nav_graph_login.xml
  android/build.gradle.kts
  android/settings.gradle.kts
Labels: Android, Feat

#76 Feature/android/#34 search event:일정 검색 ui 작성
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/searchevent/SearchEventActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/searchevent/SearchEventViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/searchevent/SearchViewDataBinding.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/LocalDateExtension.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/LongExtension.kt
  android/app/src/main/res/layout/activity_search_event.xml
  android/app/src/main/res/layout/item_event_simple.xml
  android/app/src/main/res/layout/item_profile_pic.xml
  android/app/src/main/res/values/arrays.xml
  android/app/src/main/res/values/integers.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, UI/UX

#78 [Feature/backend/#13 create database schema] database schema 추가
  backend/database/database_schema_meetmeet.sql
  backend/database/fk_schema_meetmeet.sql
Labels: Backend, Feat

#79 [feat: dockerfile 추가 및 구성 (#58)] docker 인프라 구성
  backend/docker-compose.yml
  backend/dockerfile
Labels: Backend, Feat

#80 Feature/android/#50 sign up: 회원 가입 UI, 로그인 UI 연결
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/entrance/EntranceFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/selflogin/SelfLoginFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/selflogin/SelfLoginViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/signup/SignUpFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/signup/SignUpViewModel.kt
  android/app/src/main/res/layout/fragment_self_login.xml
  android/app/src/main/res/layout/fragment_sign_up.xml
  android/app/src/main/res/navigation/nav_graph_login.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat

#82 Feature/android/#45 calendar user info
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FakeUserApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/UserApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/di/NetworkModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/UserProfile.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/UserRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/di/RepositoryModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarViewModel.kt
  android/app/src/main/res/drawable/ic_person.xml
  android/app/src/main/res/layout/fragment_calendar.xml
Labels: Android, Feat, UI/UX

#81 Feature/backend/#63 project setting: DB 연결
  .gitignore
  backend/.format.env
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/calendar/calendar.controller.ts
  backend/src/calendar/calendar.module.ts
  backend/src/calendar/calendar.service.ts
  backend/src/calendar/event.entity.ts
Labels: Backend, Feat

#83 Feature/android/#34 search event : 타임존 문제 임시 대응
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/searchevent/SearchEventActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/searchevent/SearchEventViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/DateUtils.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/LocalDateExtension.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/LocalDateTimeExtensions.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/LongExtension.kt
Labels: Android, Feat, Enhancement

#84 Feature/android/#55 profile setting: 설정 화면 추가
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/SettingActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/account/SettingAccountFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/alarm/SettingAlarmFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/home/SettingHomeFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/passwordchange/SettingPasswordChangeFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/profile/SettingProfileFragment.kt
  android/app/src/main/res/drawable/ic_arrow_right.xml
  android/app/src/main/res/layout/activity_setting.xml
  android/app/src/main/res/layout/fragment_setting_account.xml
  android/app/src/main/res/layout/fragment_setting_alarm.xml
  android/app/src/main/res/layout/fragment_setting_home.xml
  android/app/src/main/res/layout/fragment_setting_password_change.xml
  android/app/src/main/res/layout/fragment_setting_profile.xml
  android/app/src/main/res/navigation/nav_graph_home.xml
  android/app/src/main/res/navigation/nav_graph_setting.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, UI/UX

#85 Feature/android/#48 calendar notification : Calendar ui 최종 완료
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/model/CalendarViewMode.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/notification/NotificationActivity.kt
  android/app/src/main/res/drawable/ic_notification.xml
  android/app/src/main/res/drawable/ic_search.xml
  android/app/src/main/res/layout/activity_notification.xml
  android/app/src/main/res/layout/fragment_calendar.xml
  android/app/src/main/res/navigation/nav_graph_home.xml
  android/app/src/main/res/values/arrays.xml
Labels: Android, Feat, UI/UX

#86 Feature/android/#36 events per day: 달력에서 일 클릭 이벤트
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/bottomsheet/EventsPerDayBottomSheetFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/searchevent/SearchEventActivity.kt
  android/app/src/main/res/layout/fragment_bottom_sheet_events_per_day.xml
  android/app/src/main/res/layout/item_event_bs.xml
  android/app/src/main/res/navigation/nav_graph_home.xml
Labels: Android, Feat, UI/UX

#89 Feature/android/#15#34 network jobs: 데이터 레이어 설정
  android/app/src/main/java/com/teameetmeet/meetmeet/data/database/AppDatabase.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/database/di/DatabaseModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/datasource/RemoteCalendarDataSource.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/datasource/di/DataSourceModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/CalendarApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/di/NetworkModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/CalendarRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/di/RepositoryModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/searchevent/SearchEventActivity.kt
Labels: Android, Feat, Enhancement

#91 feature/android/#15#34-network-jobs: 누락된 부분 추가
  android/app/src/main/java/com/teameetmeet/meetmeet/data/database/di/DatabaseModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/datasource/LocalCalendarDataSource.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/CalendarRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/searchevent/SearchEventActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/searchevent/SearchEventViewModel.kt
Labels: Android, Feat

#93 Feature/android/#43 kakao login logic : 카카오 로그인 + 스플래시 자동 로그인
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FakeLoginApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/LoginApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/AutoLoginRequest.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/KakaoLoginRequest.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/LoginResponse.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/LoginRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/UserRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/di/RepositoryModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/entrance/EntranceFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/entrance/EntranceViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/entrance/KakaoLoginEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/splash/SplashActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/splash/SplashEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/splash/SplashViewModel.kt
  android/app/src/main/res/drawable/app_logo.png
  android/app/src/main/res/layout/activity_splash.xml
  android/app/src/main/res/navigation/nav_graph_login.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, Enhancement, UI/UX

#96 docs: Update README.md
  README.md
Labels: Docs

#90 Feature/backend/#15 get events: calendar, event entity 추가
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/calendar/calendar.controller.ts
  backend/src/calendar/calendar.module.ts
  backend/src/calendar/calendar.service.ts
  backend/src/calendar/entities/calendar.entity.ts
  backend/src/calendar/event.entity.ts
  backend/src/comment/comment.module.ts
  backend/src/comment/entities/comment.entity.ts
  backend/src/common/common.entity.ts
  backend/src/content/content.module.ts
  backend/src/content/entities/content.entity.ts
  backend/src/detail/detail.module.ts
  backend/src/detail/entities/detail.entity.ts
  backend/src/event-member/entities/autority.entity.ts
  backend/src/event-member/entities/eventMember.entity.ts
  backend/src/event-member/event-member.module.ts
  backend/src/event/entities/event.entity.ts
  backend/src/event/entities/repeatPolicy.entity.ts
  backend/src/event/event.module.ts
  backend/src/feed/entities/feed.entity.ts
  backend/src/feed/entities/feedContent.entity.ts
  backend/src/feed/feed.module.ts
  backend/src/follow/entities/follow.entity.ts
  backend/src/follow/follow.module.ts
  backend/src/group/entities/group.entity.ts
  backend/src/group/group.module.ts
  backend/src/invite/entities/invite.entity.ts
  backend/src/invite/entities/inviteType.entity.ts
  backend/src/invite/invite.module.ts
  backend/src/user/entities/oauthProvider.entity.ts
  backend/src/user/entities/user.entity.ts
  backend/src/user/entities/userGroup.entity.ts
  backend/src/user/user.module.ts
Labels: Backend, Feat

#94 Feature/android/#54 setting alarm: 푸시 알림 설정, data store 저장
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/alarm/SettingAlarmFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/alarm/SettingAlarmViewModel.kt
  android/app/src/main/res/layout/fragment_setting_alarm.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, UI/UX

#95 Feature/android/#47 #50 sign up: 로그인, 회원가입 유효성 검사
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/UserRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/selflogin/SelfLoginBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/selflogin/SelfLoginUiState.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/selflogin/SelfLoginViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/signup/EmailState.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/signup/PasswordState.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/signup/SignUpBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/signup/SignUpEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/signup/SignUpFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/signup/SignUpUiState.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/signup/SignUpViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/Verification.kt
  android/app/src/main/res/layout/fragment_self_login.xml
  android/app/src/main/res/layout/fragment_sign_up.xml
  android/app/src/main/res/navigation/nav_graph_login.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, UI/UX

#97 Feature/backend/#15 get events: 기간별 일정 조회 api
  backend/src/common/common.entity.ts
  backend/src/event/entities/event.entity.ts
  backend/src/event/entities/repeatPolicy.entity.ts
  backend/src/event/event.controller.spec.ts
  backend/src/event/event.controller.ts
  backend/src/event/event.module.ts
  backend/src/event/event.service.spec.ts
  backend/src/event/event.service.ts
  backend/src/user/entities/user.entity.ts
Labels: Backend, Feat

#98 Feature/android/#52 logout : 앱 로그아웃 구현
  android/app/src/main/java/com/teameetmeet/meetmeet/data/ExceptionHandler.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/MapperExtentions.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/datasource/LocalCalendarDataSource.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/datasource/di/DataSourceModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/local/database/AppDatabase.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/local/database/dao/EventDao.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/local/database/di/DatabaseModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/local/database/entity/Event.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/local/datastore/DataStoreHelper.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/local/datastore/di/DataStoreModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FakeUserApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/UserApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/CalendarRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/LoginRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/UserRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/di/RepositoryModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/entrance/EntranceViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/home/SettingHomeEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/home/SettingHomeFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/home/SettingHomeViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/splash/SplashActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/splash/SplashEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/splash/SplashViewModel.kt
  android/app/src/main/res/layout/fragment_setting_home.xml
  android/app/src/main/res/navigation/nav_graph_setting.xml
Labels: Android, Feat

#99 [Feature/backend/test ci] CI/CD 관련 YAML 파일 생성
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: Backend, Feat

#101 Feature/backend/#50 register: 회원 가입 및 로그인 기능 구현
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/register.dto.ts
  backend/src/main.ts
  backend/src/user/entities/oauthProvider.entity.ts
  backend/src/user/entities/user.entity.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.ts
Labels: Backend, Feat

#100 Feature/android/#43 kakao login result event logic : 카카오 최초 로그인 여부에 따라 화면 전환 기능 구현
  android/app/src/main/java/com/teameetmeet/meetmeet/data/ExceptionHandler.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FakeLoginApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/LoginRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/entrance/EntranceFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/entrance/EntranceViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/entrance/KakaoLoginEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/home/SettingHomeFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/profile/SettingProfileFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/splash/SplashActivity.kt
  android/app/src/main/res/navigation/nav_graph_login.xml
Labels: Android, Feat, Bug

#104 feature/android/#54-setting-alarm: data store 접근 로직 분리
  android/app/src/main/java/com/teameetmeet/meetmeet/data/local/datastore/DataStoreHelper.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/SettingRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/di/RepositoryModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/alarm/SettingAlarmViewModel.kt
Labels: Android, Refactor

#105 Feature/backend/#47 login: 앱 자체 로그인 API 구현
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/auth-user.dto.ts
  backend/src/auth/jwt-auth.guard.ts
  backend/src/auth/jwt.strategy.ts
  backend/src/auth/local.strategy.ts
  backend/src/event/event.controller.ts
  backend/src/user/entities/user.entity.ts
  backend/src/user/user.service.ts
Labels: Backend, Feat

#106 Feature/android/#50 sign up: 로그인 회원가입 API 연결 및 예외 처리
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FakeLoginApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/LoginApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/EmailDuplicationCheckRequest.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/SelfSignRequest.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/LoginRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/UserRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/base/BaseFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/entrance/EntranceFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/selflogin/SelfLoginEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/selflogin/SelfLoginFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/selflogin/SelfLoginViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/signup/SignUpEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/signup/SignUpFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/signup/SignUpViewModel.kt
  android/app/src/main/res/navigation/nav_graph_login.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, Refactor

#107 Feature/backend/#43 kakao login: 카카오 로그인 API 구현
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/main.ts
  backend/src/user/user.service.ts
Labels: Backend, Feat

#108 Feature/android/#22 invite event: 일정 초대 관련 UI 추가
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/CommonBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowSearchFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowState.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowViewHolder.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowViewModel.kt
  android/app/src/main/res/layout/fragment_follow.xml
  android/app/src/main/res/layout/fragment_follow_list.xml
  android/app/src/main/res/layout/item_follow.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, UI/UX

#110 [Feature/backend/#28 create event] API 일정 조회, 삭제, 생성 추가
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/calendar/calendar.module.ts
  backend/src/calendar/calendar.service.ts
  backend/src/detail/detail.module.ts
  backend/src/detail/detail.service.ts
  backend/src/event-member/entities/authority.entity.ts
  backend/src/event-member/entities/authority.enum.ts
  backend/src/event-member/entities/eventMember.entity.ts
  backend/src/event-member/event-member.module.ts
  backend/src/event-member/event-memer.service.ts
  backend/src/event/dto/createSchedule.dto.ts
  backend/src/event/event.controller.ts
  backend/src/event/event.module.ts
  backend/src/event/event.service.ts
  backend/src/main.ts
  backend/src/user/entities/userGroup.entity.ts
Labels: Backend, Feat

#109 Feature/android/#16 event story : 일정 스토리 기능 구현
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teameetmeet/meetmeet/data/local/datastore/DataStoreHelper.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/model/EventMember.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/model/EventStory.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/model/Feed.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/model/UserProfile.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/EventStoryApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FakeEventStoryApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FakeUserApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/UserApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/di/NetworkModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/EventStoryRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/UserRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/di/RepositoryModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/bindingadapter/ImageBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/EventStoryActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryUiState.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/OnItemClickListener.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/adapter/EventFeedListAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/adapter/EventMemberListAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstorydetail/EventStoryDetailFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowViewHolder.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/entrance/EntranceFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/DpUtil.kt
  android/app/src/main/res/drawable/background_with_gray_border.xml
  android/app/src/main/res/drawable/loading_animation.xml
  android/app/src/main/res/drawable/loading_image.xml
  android/app/src/main/res/layout/activity_event_story.xml
  android/app/src/main/res/layout/fragment_event_story.xml
  android/app/src/main/res/layout/fragment_event_story_detail.xml
  android/app/src/main/res/layout/item_event_feed.xml
  android/app/src/main/res/layout/item_event_member.xml
  android/app/src/main/res/menu/menu_top_app_bar_event_story.xml
  android/app/src/main/res/navigation/nav_graph_event_story.xml
  android/app/src/main/res/navigation/nav_graph_home.xml
  android/app/src/main/res/navigation/nav_graph_login.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, UI/UX

#111 Feature/backend/#55 #56 update user: 사용자 정보 수정 및 탈퇴 API
  backend/package-lock.json
  backend/package.json
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/jwt.strategy.ts
  backend/src/main.ts
  backend/src/user/dto/update-user.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
Labels: Backend, Feat

#112 Feature/backend/#55 #56 update user: 이미지 업로드 및 회원 정보 조회 API
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/jwt.strategy.ts
  backend/src/common/config/multer.config.ts
  backend/src/content/content.controller.ts
  backend/src/content/content.module.ts
  backend/src/content/content.service.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.ts
Labels: Backend, Feat

#113 Feature/android/#55 profile setting: 프로필 이미지 처리 및 상태 체크
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teameetmeet/meetmeet/data/local/datastore/DataStoreHelper.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/model/UserProfile.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FakeLoginApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FakeUserApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/LoginApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/UserApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/AvailableResponse.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/NickNameDuplicationCheckRequest.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/UserRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/bindingadapter/RecyclerViewBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/home/SettingHomeViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/profile/NickNameState.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/profile/SettingProfileBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/profile/SettingProfileFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/profile/SettingProfileUiState.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/profile/SettingProfileViewModel.kt
  android/app/src/main/res/layout/fragment_setting_home.xml
  android/app/src/main/res/layout/fragment_setting_profile.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat

#114 Feature/android/#16 event story : 일정 스토리, 일정 상세
  android/app/build.gradle.kts
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/EventStoryApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FakeEventStoryApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FakeLoginApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/LoginApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/SingleStringRequest.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/EventStoryRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/LoginRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/bindingadapter/ImageBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/bindingadapter/RecyclerViewBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryUiState.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/NotificationChangeDialog.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/OnItemClickListener.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/OnNotiChangeListener.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/adapter/EventFeedListAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/adapter/EventMemberListAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstorydetail/EventStoryDetailFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstorydetail/EventStoryDetailUiState.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstorydetail/EventStoryDetailViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/model/EventAuthority.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/DialogUtil.kt
  android/app/src/main/res/drawable/ic_edit.xml
  android/app/src/main/res/drawable/ic_more_hoz.xml
  android/app/src/main/res/layout/dialog_notification_change.xml
  android/app/src/main/res/layout/fragment_event_story.xml
  android/app/src/main/res/layout/fragment_event_story_detail.xml
  android/app/src/main/res/layout/item_event_feed.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, Enhancement, UI/UX

#115 Feature/android/#29 create feed : 피드 생성 화면
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/model/MediaItem.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/story/createfeed/CreateFeedBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/story/createfeed/CreateFeedFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/story/createfeed/CreateFeedViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/story/createfeed/MediaAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/story/createfeed/MediaItemCancelClickListener.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/story/createfeed/MediaViewHolder.kt
  android/app/src/main/res/drawable/ic_add_photo.xml
  android/app/src/main/res/drawable/ic_cancel_two_tone.xml
  android/app/src/main/res/drawable/ic_no_image_filled.xml
  android/app/src/main/res/drawable/ic_no_image_outline.xml
  android/app/src/main/res/drawable/ic_video_play_two_tone.xml
  android/app/src/main/res/layout/fragment_create_feed.xml
  android/app/src/main/res/layout/item_create_feed_media.xml
  android/app/src/main/res/navigation/nav_graph_home.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, Review, UI/UX

#117 Feature/android/#15 get events: 날짜별 일정 보여주기
  android/app/build.gradle.kts
  android/app/src/main/assets/dummyEvents.json
  android/app/src/main/java/com/teameetmeet/meetmeet/data/DateExtensions.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/MapperExtentions.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/datasource/LocalCalendarDataSource.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/dto/EventDto.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/local/database/AppDatabase.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/local/database/dao/EventDao.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/local/database/entity/Event.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FakeCalendarApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/di/NetworkModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/EventResponse.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/CalendarRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/EventBarAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/createfeed/CreateFeedBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/createfeed/CreateFeedFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/createfeed/CreateFeedViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/createfeed/MediaAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/createfeed/MediaItemCancelClickListener.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/createfeed/MediaViewHolder.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/model/CalendarItem.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/model/EventBar.kt
  android/app/src/main/res/drawable/event_bar_end.xml
  android/app/src/main/res/drawable/event_bar_middle.xml
  android/app/src/main/res/drawable/event_bar_one_day.xml
  android/app/src/main/res/drawable/event_bar_start.xml
  android/app/src/main/res/layout/fragment_calendar.xml
  android/app/src/main/res/layout/fragment_create_feed.xml
  android/app/src/main/res/layout/item_calendar.xml
  android/app/src/main/res/layout/item_event_bar.xml
  android/app/src/main/res/values/colors.xml
Labels: Android, Feat, Bug, Review, UI/UX

#116 Bug: api 엔드포인트 및 swagger 오타 수정
  backend/.format.env
  backend/src/user/dto/update-user.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
Labels: Backend, Bug

#118 Feature/android/#30 feed detail: 피드 세부 UI 추가
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/story/feeddetail/FeedDetailFragment.kt
  android/app/src/main/res/drawable/background_comment_et.xml
  android/app/src/main/res/drawable/background_paging_tv.xml
  android/app/src/main/res/drawable/ic_delete.xml
  android/app/src/main/res/drawable/ic_send.xml
  android/app/src/main/res/layout/fragment_feed_detail.xml
  android/app/src/main/res/layout/item_feed_comment.xml
  android/app/src/main/res/navigation/nav_graph_event_story.xml
  android/app/src/main/res/values/colors.xml
Labels: Android, Feat, Review, UI/UX

#119 bug: data binding variable 제거 (#30)
  android/app/src/main/res/layout/fragment_feed_detail.xml
Labels: Android, Bug

#120 Feature/android/#42 story detail : 일정 상세 기능 구현중...
  android/app/src/main/java/com/teameetmeet/meetmeet/MeetMeetApp.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/model/EventStory.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/EventStoryRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/di/RepositoryModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstorydetail/EventStoryDetailBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstorydetail/EventStoryDetailEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstorydetail/EventStoryDetailFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstorydetail/EventStoryDetailUiState.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstorydetail/EventStoryDetailViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/LongExtension.kt
  android/app/src/main/res/layout/fragment_event_story_detail.xml
  android/app/src/main/res/navigation/nav_graph_event_story.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, UI/UX

#122 Feature/backend/#29 create feed: 피드 생성 API 구현
  backend/src/app.module.ts
  backend/src/content/content.service.ts
  backend/src/event-member/event-memer.service.ts
  backend/src/feed/dto/create-feed.dto.ts
  backend/src/feed/entities/feed.entity.ts
  backend/src/feed/entities/feedContent.entity.ts
  backend/src/feed/feed.controller.ts
  backend/src/feed/feed.module.ts
  backend/src/feed/feed.service.ts
Labels: Backend, Feat

#121 Feature/android/#42 story detail : 일정 스토리 권한 별 기능 동작, 일정 스토리 삭제
  android/app/src/main/java/com/teameetmeet/meetmeet/data/model/EventStory.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/EventStoryApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FakeEventStoryApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/EventStoryRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryUiState.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstorydetail/EventStoryDetailBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstorydetail/EventStoryDetailEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstorydetail/EventStoryDetailFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstorydetail/EventStoryDetailUiState.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstorydetail/EventStoryDetailViewModel.kt
  android/app/src/main/res/layout/fragment_event_story.xml
  android/app/src/main/res/layout/fragment_event_story_detail.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, UI/UX

#123 Feature/android/#36 events per day: 일별 일정 보여주기
  android/app/src/main/java/com/teameetmeet/meetmeet/data/DateExtensions.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/EntityMapper.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/MapperExtentions.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/datasource/LocalCalendarDataSource.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/CalendarRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/bindingadapter/RecyclerViewBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarItemClickListener.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/bottomsheet/EventItemClickListener.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/bottomsheet/EventsPerDayAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/bottomsheet/EventsPerDayBottomSheetFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/model/CalendarItem.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/model/EventSimple.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/searchevent/SearchEventViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/DateTimeFormat.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/LocalDateExtension.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/LocalDateTimeExtensions.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/LongExtension.kt
  android/app/src/main/res/layout/activity_search_event.xml
  android/app/src/main/res/layout/fragment_events_per_day_bottom_sheet.xml
  android/app/src/main/res/layout/item_event_bs.xml
  android/app/src/main/res/layout/item_event_search.xml
  android/app/src/main/res/layout/item_event_simple.xml
  android/app/src/main/res/navigation/nav_graph_home.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, Refactor, Enhancement, Review, UI/UX

#126 Feature/backend/#30 get feed :feed 조회 API
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/jwt.strategy.ts
  backend/src/feed/dto/feed-response.dto.ts
  backend/src/feed/entities/feed.entity.ts
  backend/src/feed/feed.controller.ts
  backend/src/feed/feed.service.ts
Labels: Backend, Feat, Bug

#127 [Feature/backend/#16 get story] 일정 스토리 조회하기 추가
  backend/src/event/entities/event.entity.ts
  backend/src/event/event.controller.ts
  backend/src/event/event.service.ts
Labels: Backend, Feat

#128 fix: refresh 에러 해결
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/jwt.strategy.ts
Labels: Backend, Bug

#129 Feature/android/#43 kakao login server request : 로그인, 유저 관련 서버 연결
  android/app/src/main/java/com/teameetmeet/meetmeet/data/ExceptionHandler.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/model/UserProfile.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/EventStoryApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FakeEventStoryApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FakeLoginApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FakeUserApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/LoginApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/UserApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/di/NetworkModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/AccessTokenResult.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/AutoLoginRequest.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/KakaoLoginRequest.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/EventStoryRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/LoginRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/UserRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/bindingadapter/ImageBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarViewModel.kt
Labels: Android, Feat

#132 Feature/android/#22 invite event: 일정 추가, 팔로우 화면 구성
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/feeddetail/FeedDetailFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowPagerAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowSearchFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowState.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowViewHolder.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/FollowViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/follow/OnUserClickListener.kt
  android/app/src/main/res/drawable/background_search_layout.xml
  android/app/src/main/res/layout/fragment_follow.xml
  android/app/src/main/res/layout/fragment_follow_list.xml
  android/app/src/main/res/layout/item_follow.xml
  android/app/src/main/res/navigation/nav_graph_event_story.xml
  android/app/src/main/res/navigation/nav_graph_home.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, UI/UX

#134 feat: 토큰 만료 에러 코드 변경 (418 ImATeapot)
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/jwt.strategy.ts
Labels: Backend, Bug

#135 Feature/android/#15 get events: 서버 api 연결
  android/app/src/main/assets/dummyEvents.json
  android/app/src/main/java/com/teameetmeet/meetmeet/data/datasource/RemoteCalendarDataSource.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/CalendarApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FakeCalendarApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/di/NetworkModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/EventResponse.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/CalendarRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/bottomsheet/EventItemClickListener.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/bottomsheet/EventsPerDayAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/bottomsheet/EventsPerDayBottomSheetFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/createfeed/CreateFeedViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/createfeed/MediaItemCancelClickListener.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/createfeed/MediaViewHolder.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/DateTimeFormat.kt
  android/app/src/main/res/navigation/nav_graph_event_story.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, Refactor

#136 Feature/android/#28 add event: 일정 추가 API 연결
  android/app/src/main/java/com/teameetmeet/meetmeet/data/EntityMapper.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/datasource/RemoteCalendarDataSource.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/CalendarApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FakeCalendarApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/di/NetworkModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/AddEventRequest.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/EventResponse.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/CalendarRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/TokenRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/addevent/AddEventActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/addevent/AddEventBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/addevent/AddEventUiEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/addevent/AddEventUiState.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/addevent/AddEventViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/base/BaseActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/model/EventColor.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/model/EventRepeatTerm.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/DateTimeFormat.kt
  android/app/src/main/res/layout/activity_add_event.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, UI/UX

#137 Feature/android/#15 get events
  android/app/build.gradle.kts
  android/app/src/main/res/values/strings.xml
Labels: Android, Bug, !HOTFIX

#138 feature/android/#15: 이벤트바로 일정 기간 확인하기
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/EventBarAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/model/CalendarItem.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/model/EventBar.kt
  android/app/src/main/res/layout/item_calendar.xml
  android/app/src/main/res/layout/item_event_bar.xml
Labels: Android, Feat, Enhancement, Review, UI/UX

#140 Feature/android/#28 #43 #15 #77: 배포 전 페어프로그래밍 리팩토링
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/ic_launcher-playstore.png
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/AuthApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/di/NetworkModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/AddEventRequest.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/CalendarRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarViewModel.kt
  android/app/src/main/res/drawable/button_kakao_login.png
  android/app/src/main/res/drawable/button_kakao_login.xml
  android/app/src/main/res/layout/activity_splash.xml
  android/app/src/main/res/layout/fragment_entrance.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/res/mipmap-anydpi/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi/ic_launcher_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-hdpi/ic_launcher_background.webp
  android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.webp
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher_background.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_background.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_background.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_background.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
Labels: Android, Bug, Refactor, Enhancement, UI/UX

#139 bug: 카카오 로그인 앱으로 로그인 오류 해결 (#43)
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/entrance/EntranceFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/entrance/EntranceViewModel.kt
Labels: Android, Bug

#141 Feature/backend/#33 delete feed: 피드 삭제 API 및 토큰 에러 418로 통일
  backend/src/auth/auth.service.ts
  backend/src/auth/jwt-auth.guard.ts
  backend/src/auth/jwt.strategy.ts
  backend/src/comment/entities/comment.entity.ts
  backend/src/content/content.service.ts
  backend/src/feed/dto/feed-response.dto.ts
  backend/src/feed/entities/feed.entity.ts
  backend/src/feed/feed.service.ts
Labels: Backend, Feat, Bug

#142 Feature/android/#15 get events: enhancement
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/EventBarAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/model/CalendarItem.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/LocalDateExtension.kt
  android/app/src/main/res/layout/fragment_calendar.xml
Labels: Android, Bug, Enhancement

#143 Feature/android/#47 #50 #56 #28 #55: 회원 기능 API 연결 및 예외 처리
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FakeLoginApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FakeUserApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/LoginApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/UserApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/EmailDuplicationCheckRequest.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/NickNameDuplicationCheckRequest.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/LoginRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/UserRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/addevent/AddEventActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/addevent/AddEventViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/bottomsheet/EventsPerDayBottomSheetFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/selflogin/SelfLoginEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/selflogin/SelfLoginFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/selflogin/SelfLoginViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/signup/SignUpEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/signup/SignUpFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/signup/SignUpViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/model/EventRepeatTerm.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/account/SettingAccountFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/account/SettingAccountUiEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/account/SettingAccountViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/profile/SettingProfileFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/profile/SettingProfileUiEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/profile/SettingProfileViewModel.kt
  android/app/src/main/res/drawable/ic_warning.xml
  android/app/src/main/res/layout/fragment_setting_profile.xml
  android/app/src/main/res/navigation/nav_graph_event_story.xml
  android/app/src/main/res/navigation/nav_graph_home.xml
  android/app/src/main/res/navigation/nav_graph_setting.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, Enhancement

#145 Feature/android/#43 kakao login : 카카오 로그인, 자동 로그인 구현
  android/app/src/main/java/com/teameetmeet/meetmeet/data/ExceptionHandler.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/AuthApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FakeLoginApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/LoginApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/AccessTokenRequest.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/LoginResponse.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/LoginRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/TokenRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/entrance/EntranceFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/login/entrance/EntranceViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/splash/SplashViewModel.kt
Labels: Android, Feat, Bug

#144 Feature/backend/#55 #56 update user: Password 변경 api
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/user/dto/update-user-info.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
Labels: Backend, Bug

#146 [Feature/backend/#34 search event] slack 알림 추가 및 api docs 수정
  backend/.format.env
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/auth/auth.controller.ts
  backend/src/calendar/calendar.controller.ts
  backend/src/event-member/entities/eventMember.entity.ts
  backend/src/event/dto/searchEvent.dto.ts
  backend/src/event/entities/event.entity.ts
  backend/src/event/event.controller.ts
  backend/src/event/event.service.ts
  backend/src/log/slack.interceptor.ts
  backend/src/main.ts
Labels: Backend, Feat, Docs

#147 [Feature/backend/#44 search follower] follow 기능 추가 및 버그수정
  backend/src/event/event.service.ts
  backend/src/follow/follow.controller.ts
  backend/src/follow/follow.module.ts
  backend/src/follow/follow.service.ts
Labels: Backend, Feat, Bug

#148 Feature/android/#34 search event : 검색 api 연결
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teameetmeet/meetmeet/data/datasource/RemoteCalendarDataSource.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/CalendarApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FakeCalendarApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/EventResponse.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/CalendarRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/searchevent/SearchEventActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/searchevent/SearchViewDataBinding.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/searchevent/searchevent/SearchEventFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/searchevent/searchevent/SearchEventViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/searchevent/searchevent/SearchItemClickListener.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/searchevent/searchevent/SearchResultEventAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/LongExtension.kt
  android/app/src/main/res/layout/activity_search_event.xml
  android/app/src/main/res/layout/fragment_search_event.xml
  android/app/src/main/res/layout/item_event_search.xml
  android/app/src/main/res/layout/item_profile_pic.xml
  android/app/src/main/res/navigation/nav_graph_home.xml
  android/app/src/main/res/navigation/nav_graph_search.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, Review, UI/UX

#149 Feature/android/#55 profile setting: 프로필 변경 Mutipart 구현
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FakeUserApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/UserApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/UserRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/home/SettingHomeFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/home/SettingHomeViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/profile/SettingProfileBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/profile/SettingProfileUiState.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/profile/SettingProfileViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/UriExtension.kt
  android/app/src/main/res/layout/fragment_setting_profile.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, UI/UX

#152 Feature/backend/#29 create feed: object storage에 파일 업로드
  backend/.format.env
  backend/src/auth/auth.service.ts
  backend/src/common/config/multer.config.ts
  backend/src/content/content.module.ts
  backend/src/content/content.service.ts
  backend/src/content/object-storage.ts
  backend/src/feed/feed.controller.ts
  backend/src/feed/feed.service.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
Labels: Backend, Feat

#153 [Feature/backend/#44 search follower] 팔로우 기능 추가 및 Detail 수정
  backend/package-lock.json
  backend/package.json
  backend/src/detail/entities/detail.entity.ts
  backend/src/event-member/entities/eventMember.entity.ts
  backend/src/event-member/event-member.service.ts
  backend/src/event/dto/createSchedule.dto.ts
  backend/src/event/dto/updateSchedule.dto.ts
  backend/src/event/entities/event.entity.ts
  backend/src/event/event.controller.ts
  backend/src/event/event.service.ts
  backend/src/feed/entities/feed.entity.ts
  backend/src/follow/follow.controller.ts
  backend/src/follow/follow.module.ts
  backend/src/follow/follow.service.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.ts
Labels: Backend, Feat, Bug, Refactor, Enhancement

#154 Feature/android/#28: 일정 추가 API 변경 사항 반영
  android/app/src/main/java/com/teameetmeet/meetmeet/data/model/EventStory.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/AddEventRequest.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/CalendarRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/EventStoryRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/model/EventNotification.kt
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat

#155 Feature/android/apply api modification : api 반영, 캘린더/설정 개선, 피드 api 기능 추가
  android/app/src/main/java/com/teameetmeet/meetmeet/data/EntityMapper.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/datasource/LocalCalendarDataSource.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/local/database/dao/EventDao.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/local/database/di/DatabaseModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/local/database/entity/Event.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/local/datastore/DataStoreHelper.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/EventStoryApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/EventResponse.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/CalendarRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/EventStoryRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/bindingadapter/ImageBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/bottomsheet/EventsPerDayBottomSheetFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/createfeed/CreateFeedBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/createfeed/CreateFeedFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/createfeed/CreateFeedUiEvent.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/createfeed/CreateFeedViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/model/MediaItem.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/searchevent/searchevent/SearchEventFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/setting/alarm/SettingAlarmViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/LocalDateExtension.kt
  android/app/src/main/res/layout/fragment_calendar.xml
  android/app/src/main/res/layout/fragment_create_feed.xml
  android/app/src/main/res/layout/fragment_events_per_day_bottom_sheet.xml
  android/app/src/main/res/layout/item_create_feed_media.xml
  android/app/src/main/res/navigation/nav_graph_event_story.xml
  android/app/src/main/res/navigation/nav_graph_home.xml
  android/app/src/main/res/navigation/nav_graph_search.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, Refactor, Enhancement, UI/UX

#156 Feature/android/#26 event alarm: 일정 알림 AlarmReceiver, AlarmHelper 구현
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teameetmeet/meetmeet/data/EntityMapper.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/local/database/entity/Event.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/CalendarRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/addevent/AddEventActivity.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/addevent/AddEventUiState.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/addevent/AddEventViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/bottomsheet/EventsPerDayAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstorydetail/EventStoryDetailViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/searchevent/searchevent/SearchEventFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/searchevent/searchevent/SearchEventViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/searchevent/searchevent/SearchResultEventAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/AlarmHelper.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/AlarmReceiver.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/di/AlarmModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/model/EventAlarm.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/date/DateTimeFormat.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/date/DateUtils.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/date/LocalDateExtension.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/date/LocalDateTimeExtensions.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/date/LongExtension.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/date/StringExtension.kt
Labels: Android, Feat, Refactor

#157 Feature/android/#16 event story detail with server : 일정 수정 기능 구현
  android/app/src/main/java/com/teameetmeet/meetmeet/data/model/EventDetail.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/EventStoryApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/AddEventRequest.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/EventStoryDetailResponse.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/EventStoryRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/di/RepositoryModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstorydetail/EventStoryDetailBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstorydetail/EventStoryDetailFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstorydetail/EventStoryDetailUiState.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstorydetail/EventStoryDetailViewModel.kt
  android/app/src/main/res/layout/fragment_event_story_detail.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, Bug, Refactor, UI/UX

#158 Feature/android/#29 create feed : 피드 생성 분기 처리
  android/app/src/main/assets/dummyEvents.json
  android/app/src/main/java/com/teameetmeet/meetmeet/data/EntityMapper.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/EventStoryApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/api/FakeCalendarApi.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/CalendarRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/data/repository/EventStoryRepository.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/addevent/AddEventViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/CalendarViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/calendar/bottomsheet/EventsPerDayBottomSheetFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/createfeed/CreateFeedFragment.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/createfeed/CreateFeedViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstory/EventStoryBindingAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/eventstory/eventstorydetail/EventStoryDetailViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/searchevent/searchevent/SearchEventViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/searchevent/searchevent/SearchResultEventAdapter.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/UriExtension.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/util/date/DateTimeFormat.kt
  android/app/src/main/res/layout/fragment_create_feed.xml
  android/app/src/main/res/layout/fragment_search_event.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat, Refactor, Enhancement

#159 Feature/backend/#32 comment: 댓글 추가, 삭제 api 및 리팩토링
  backend/.format.env
  backend/src/comment/comment.module.ts
  backend/src/comment/comment.service.ts
  backend/src/comment/entities/comment.entity.ts
  backend/src/content/content.service.ts
  backend/src/content/entities/content.entity.ts
  backend/src/content/object-storage.ts
  backend/src/event/dto/createSchedule.dto.ts
  backend/src/event/dto/event-response.dto.ts
  backend/src/event/dto/event-response.ts
  backend/src/event/dto/event-story-response.dto.ts
  backend/src/event/dto/events-response.dto.ts
  backend/src/event/dto/updateSchedule.dto.ts
  backend/src/event/entities/event.entity.ts
  backend/src/event/event.controller.ts
  backend/src/event/event.service.ts
  backend/src/feed/feed.controller.ts
  backend/src/feed/feed.module.ts
  backend/src/feed/feed.service.ts
  backend/src/user/dto/user-response.ts
  backend/src/user/entities/user.entity.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
Labels: Backend, Feat, Bug, Refactor, Enhancement

#161 Feature/android/#26 event alarm notification : 알림 notification 띄우기
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/teameetmeet/meetmeet/MeetMeetApp.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/presentation/addevent/AddEventViewModel.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/RequestCode.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/alarm/AlarmHelper.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/alarm/AlarmReceiver.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/alarm/di/AlarmModule.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/alarm/model/EventAlarm.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/notification/NotificationHelper.kt
  android/app/src/main/java/com/teameetmeet/meetmeet/service/notification/di/NotificationModule.kt
  android/app/src/main/res/values/strings.xml
Labels: Android, Feat
