Repository boostcampwm2023/and08-meetmeet, pull requests merged in 2024-02, with the labels that each got.

#244 Feature/android/#243 Firebase App Distribution - CD 구축
  .github/workflows/android-cd.yml
  android/app/.gitignore
  android/app/build.gradle.kts
Labels: Android, Enhancement

#247 ci/android: ci action 추가
  .github/workflows/android-ci.yml
Labels: Android

#250 test/android/login token user: 테스트 코드 작성
  .github/workflows/android-ci.yml
  android/app/build.gradle.kts
  android/app/src/main/java/com/teameetmeet/meetmeet/data/network/entity/KakaoLoginRequest.kt
  android/app/src/test/java/com/teameetmeet/meetmeet/data/repository/LoginRepositoryTest.kt
  android/app/src/test/java/com/teameetmeet/meetmeet/data/repository/TokenRepositoryTest.kt
  android/app/src/test/java/com/teameetmeet/meetmeet/data/repository/UserRepositoryTest.kt
Labels: Android, Test
